.menu .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-nav {
	display: flex;
}
/* Responsive */
@media(max-width: 768px) {
	.menu-nav {
		flex-direction: column;
	}

	.menu .container {
		flex-direction: column;
		align-items: initial;
		text-align: center;
	}
}
.menu-nav-link-app {
    order: -1;
}
